<aside class="col-sm-4 col-sm-push-8">
    <!-- TODO: Make this generate dynamically! -->

    <h3>Recent Posts</h3>
    <ul class="arrow">
        <li><a href="{{ site.baseurl }}/blog/the-price-of-data/"
            >The price of data</a></li>
        <li><a href="{{ site.baseurl }}/blog/the-numbers-tell-the-tale/"
            >The numbers tell the tale</a></li>
        <li><a href="{{ site.baseurl }}/blog/presenting-the-eustace-project-at-the-climateurope-festival/"
            >Presenting the EUSTACE project at the Climateurope-festival</a></li>
    </ul>
    
    <h3>Archive</h3>         
    <h6>2017</h6>
    <ul class="arrow">

        <li><a href="{{ site.baseurl }}/blog/"
            >June</a> (1)</li>
    
        
        <li><a href="{{ site.baseurl }}/blog/"
            >May</a> (1)</li>
    
        
        <li><a href="{{ site.baseurl }}/blog/"
            >April</a> (1)</li>
    
    </ul>
    
    
    <h3>Authors</h3>
    <ul class="arrow">
    
        <li><a href="{{ site.baseurl }}/blog/"
            >janette</a>
            (3)</li>
    
    </ul>
    
    <h3>Feeds</h3>
    
    <a href="/blog/feeds/rss/">RSS</a> /
    <a href="/blog/feeds/atom/">Atom</a>
    
    
</aside>