<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner" style="min-height: 80px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span style="left: 10px; float: left;"><a href="/"><img src="/assets/images/slider/eustace_logo.jpg"
                        alt="EUSTACE" style="width: 200px; height: 60px;"></a></span>
            <p class="navbar-text visible-lg" style="font-size: 15px;">Creating daily analyses of surface air
                temperature globally</p>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="active" id="dropdown-menu-home">
                    <a href="/">Home</a>
                </li>
                <li class="dropdown" id="about">
                    <a href="/about/" class="dropdown-toggle disabled" data-toggle="dropdown">
                        About <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="" id="about-eustace-objectives"><a href="/about/eustace-objectives/">EUSTACE Objectives</a></li>
                        <li class="dropdown-submenu" id="about-another-page"><a
                                href="/about/another-page/">EUSTACE Work Packages</a>
                            <ul class="dropdown-menu">
                                <li class="" id="about-another-page-wp1"><a href="/about/another-page/wp1/">WP1
                                        Observation integration</a>
                                </li>
                                <li class="" id="about-another-page-wp2"><a href="/about/another-page/wp2/">WP2
                                        Dataset construction</a></li>
                                <li class="" id="about-another-page-wp3"><a href="/about/another-page/wp3/">WP3
                                        Validation and Intercomparison</a></li>
                                <li class="" id="about-another-page-wp4"><a href="/about/another-page/wp4/">WP4
                                        Outreach and Dissemination</a>
                                </li>
                                <li class="" id="about-another-page-wp5"><a href="/about/another-page/wp5/">WP5
                                        Science leadership</a></li>
                                <li class="" id="about-another-page-wp6"><a href="/about/another-page/wp6/">WP6
                                        Project management</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu" id="about-team"><a href="/about/team/">EUSTACE Partners</a>
                            <ul class="dropdown-menu">
                                <li class="" id="about-team-met-office"><a href="/about/team/met-office/">Met
                                        Office (Coordinator)</a></li>
                                <li class="" id="about-team-dmi"><a href="/about/team/dmi/">DMI</a></li>
                                <li class="" id="about-team-stfc"><a href="/about/team/stfc/">STFC</a></li>
                                <li class="" id="about-team-knmi"><a href="/about/team/knmi/">KNMI</a></li>
                                <li class="" id="about-team-university-of-leicester"><a
                                        href="/about/team/university-of-leicester/">University
                                        of Leicester</a></li>
                                <li class="" id="about-team-university-of-bath"><a
                                        href="/about/team/university-of-bath/">University of
                                        Bath</a></li>
                                <li class="" id="about-team-university-of-bern"><a
                                        href="/about/team/university-of-bern/">University of
                                        Bern</a></li>
                                <li class="" id="about-team-university-of-reading"><a
                                        href="/about/team/university-of-reading/">University of
                                        Reading</a></li>
                            </ul>
                        </li>
                        <li class="" id="about-eustace-products"><a href="/about/eustace-products/">EUSTACE
                                Products</a></li>
                    </ul>
                </li>
                <li class="" id="final-results"><a href="/final-results/">
                        EUSTACE Final results
                    </a></li>
                <li class="dropdown" id="users"><a href="/users/" class="dropdown-toggle disabled"
                        data-toggle="dropdown">
                        Users
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="" id="users-why-a-new-temperature-dataset"><a
                                href="/users/why-a-new-temperature-dataset/">Why a new
                                temperature dataset?</a></li>
                        <li class="dropdown-submenu" id="users-use-if-temperature-data"><a
                                href="/users/use-if-temperature-data/">Use of temperature
                                data</a>
                            <ul class="dropdown-menu">
                                <li class=""
                                    id="users-use-if-temperature-data-high-resolution-climate-modelling"><a
                                        href="/users/use-if-temperature-data/high-resolution-climate-modelling/">High
                                        resolution climate modelling</a></li>
                                <li class="" id="users-use-if-temperature-data-extreme-event-attribution"><a
                                        href="/users/use-if-temperature-data/extreme-event-attribution/">Extreme
                                        event attribution</a></li>
                                <li class="" id="users-use-if-temperature-data-temperature-indices"><a
                                        href="/users/use-if-temperature-data/temperature-indices/">Temperature
                                        indices</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu" id="users-getting-informed-and-participating"><a
                                href="/users/getting-informed-and-participating/">Ways we involved potential
                                users</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu" id="users-getting-informed-and-participating-user-consultation-meetings"><a
                                        href="/users/getting-informed-and-participating/user-consultation-meetings/">User
                                        consultations</a>
                                    <ul class="dropdown-menu">
                                        <li class="" id="users-getting-informed-and-participating-user-consultation-meetings-user-consultation-meeting-april-2016">
                                            <a
                                                href="/users/getting-informed-and-participating/user-consultation-meetings/user-consultation-meeting-april-2016/">User
                                                consultation meeting, April 2016</a>
                                        </li>
                                        <li class="" id="users-getting-informed-and-participating-user-consultation-meetings-user-consultation-2017"><a
                                                href="/users/getting-informed-and-participating/user-consultation-meetings/user-consultation-2017/">User
                                                consultation 2017</a></li>
                                        <li class="" id="users-getting-informed-and-participating-user-consultation-meetings-user-meeting-2018"><a
                                                href="/users/getting-informed-and-participating/user-consultation-meetings/user-meeting-2018/">User
                                                meeting 2018</a></li>
                                        <li class="" id="users-getting-informed-and-participating-user-consultation-meetings-user-consultation-meetings-2015">
                                            <a
                                                href="/users/getting-informed-and-participating/user-consultation-meetings/user-consultation-meetings-2015/">User
                                                consultation meetings 2015</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" id="contact"><a href="/contact/" class="dropdown-toggle disabled" data-toggle="dropdown">
                        Contact
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="" id="contact-form"><a href="/contact/form/">Get in touch</a></li>
                        <li class="" id="contact-legals"><a href="/contact/legals/">EUSTACE Press office</a></li>
                        <li class="" id="contact-privacy-policy-statement"><a href="/contact/privacy-policy-statement/">Privacy policy
                                statement</a></li>
                    </ul>
                </li>
                <li class="" id="acronyms"><a href="/acronyms/">
                        Acronyms and glossary

                    </a></li>
                <li class="" id="-blog-"><a href="/blog/">
                        Blog

                    </a></li>
            </ul>

            </ul>
        </div>
    </div>
</header>
<!--/header-->
<div class="container">
    <div class="col-md-2 col-sm-4">
        ...
    </div> 
</div>