<!doctype html>
<html lang="en-gb">


<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google analytics snippet taken from original cayman theme. Can be controlled from 
            config file -->
    {% if site.google_tag_manager %}
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDG2XX7');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/4/flatly/bootstrap.css" media="screen"> -->
    <!-- Custom CSS -->
    <!-- customisations of vanilla bootstrap by the bootswatch variant we're using (output from Bootswatch) -->
    <!-- <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.5/_assets/css/custom.min.css"> -->

    <!-- Google CSE Search stuff -->
    <script async src="https://cse.google.com/cse.js?cx=98d9bba52d1334b96"></script>
    <script src="https://unpkg.com/mustache@4.1.0"></script>
    <script src="{{ site.baseurl }}/assets/js/result_bootstrap_mustache.js"></script>
    <script>
        gcs_results_template = "{{ site.baseurl }}/assets/html/bootstrap_results.html";
        window.__gcse || (window.__gcse = {});
        window.__gcse.searchCallbacks = {
            web: {
                ready: bootstrapResultsReadyCallback,
            },
        };
    </script>

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/blog/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.baseurl }}/blog/feeds/atom/">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mezzanine.css">

    <!-- <link href="/assets/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="{{ site.baseurl }}/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/animate.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

</head>

<body id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDG2XX7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    {% include navbar.html %}
    {% if page.skip_banner %}
        {{ content }}
    {% else %}
        {% include banner.html %}
        <!--footer-->
        <div class="container">
            {{ content }}
        </div>
    {% endif %}
    

    <section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/">
                    <h4>Home</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/about/">
                    <h4>About</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/blog/">
                    <h4>Blog</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/users/">
                    <h4>Users</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/contact/">
                    <h4>Contact</h4>
                </a>
            </div>
            <!--/.col-md-3-->
        </div>
    </section>
    <footer id="footer" class="midnight-blue">
        <div class="container">


            <div class="row">
                <div class="col-sm-6">
                    Mezzanine theme by <a href="http://thecodinghouse.in">CodingHouse</a>. HTML template by <a
                        href="http://shapebootstrap.net">Shapebootstrap
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">

                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li>
                        <!--#gototop-->
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/jquery.prettyPhoto.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.isotope.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

<!-- scripts for bootstrap in lieu of other js scripts -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>

</html>