<!doctype html>
<html lang="en-gb">


<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google analytics snippet taken from original cayman theme. Can be controlled from 
            config file -->
    {% if site.google_tag_manager %}
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NDG2XX7');</script>
    <!-- End Google Tag Manager -->
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/blog/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.baseurl }}/blog/feeds/atom/">
    
    
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mezzanine.css">

    <link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/animate.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/images/ico/apple-touch-icon-57-precomposed.png">

    <script src="{{ site.baseurl }}/assets/mezzanine/js/jquery-3.4.1.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-extras.js"></script>
    
    <!-- Google CSE Search stuff -->
    <script async src="https://cse.google.com/cse.js?cx=98d9bba52d1334b96"></script>
    <script src="https://unpkg.com/mustache@4.1.0"></script>
    <script src="{{ site.baseurl }}/assets/js/result_bootstrap_mustache.js"></script>
    <script>
        gcs_results_template = "{{ site.baseurl }}/assets/html/bootstrap_results.html";
        window.__gcse || (window.__gcse = {});
        window.__gcse.searchCallbacks = {
            web: {
                ready: bootstrapResultsReadyCallback,
            },
        };
    </script>
</head>

<body id="body">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDG2XX7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    {% include navbar.html %}
    {% if page.skip_banner %}
        {{ content }}
    {% else %}
        {% include banner.html %}
        <!--footer-->
        <section class="container">
            {{ content }}
        </section>
    {% endif %}
    

    <section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/">
                    <h4>Home</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/about/">
                    <h4>About</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/blog/">
                    <h4>Blog</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/users/">
                    <h4>Users</h4>
                </a>
            </div>
            <!--/.col-md-3-->
            <div class="col-md-2 col-sm-4">
                <a href="{{ site.baseurl }}/contact/">
                    <h4>Contact</h4>
                </a>
            </div>
            <!--/.col-md-3-->
        </div>
    </section>
    <footer id="footer" class="midnight-blue">
        <div class="container">


            <div class="row">
                <div class="col-sm-6">
                    Mezzanine theme by <a href="http://thecodinghouse.in">CodingHouse</a>. HTML template by <a
                        href="http://shapebootstrap.net">Shapebootstrap
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">

                        <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li>
                        <!--#gototop-->
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/jquery.prettyPhoto.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.isotope.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

</body>

</html>