---
layout: base_eustace
---
<body>
    <section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class=""></li>
                <li data-slide-to="3" data-target="#main-slider" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(assets/images/slider/satellite_skin_temp.png)" class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
<!-- class="carousel-content centered" -->
                                <div style="margin-top: 265px;">
                                    <h2 class="boxed animation animated-item-1" style="color: white;">Using surface skin temperature from satellites to estimate daily air temperature everywhere.</h2>
				    <br>
				    <a href="{{ site.baseurl }}/about/another-page/wp1/" class="btn btn-md animation animated-item-3">Find out more</a>
                                    <!-- <p class="animation animated-item-2" style="color: blue;">EU Surface Temperature for All Corners of Earth.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div style="background-image: url(assets/images/slider/stevenson_screen_wide.png)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h2 class="boxed animation animated-item-1">Finding artefacts in historical measurements of daily air temperature from changes in measurement practice.</h2>
                                    <br>
                                    <a href="{{ site.baseurl }}/about/another-page/wp1/" class="btn btn-md animation animated-item-3">Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div style="background-image: url(assets/images/slider/earthtemp_scenery.png)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h2 class="boxed animation animated-item-1">Understanding how the relationship between surface temperature estimated from satellites and measured at weather stations changes from place-to-place and season-to-season.</h2>
                                    <br>
                                    <a href="{{ site.baseurl }}/about/another-page/wp1/" class="btn btn-md animation animated-item-3">Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div style="background-image: url(assets/images/slider/environments.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h2 class="animation animated-item-1">EUSTACE will give publicly available daily estimates of surface air temperature since 1850 across the globe for the first time by combining surface and satellite data using novel statistical techniques.</h2>
                                    <!-- <p class="animation animated-item-2">EU Surface Temperature for All Corners of Earth.</p> -->
                                    <a href="{{ site.baseurl }}/about/another-page/wp4/" class="btn btn-md animation animated-item-3">Find out more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>
    <section style="height: 140px;">
        <div>
            <div style="width: 200px; float: left;">
                <img src="https://artefacts.ceda.ac.uk/graphics/flags/flag_yellow_low.jpg"
                     style="width: 160px; height: 100px; margin-left: 60px; margin-top: -30px; position: absolute;">
            </div>
            <div style="left: 250px; position: absolute;">
                EUSTACE has received funding from the European Union's
                Horizon 2020 Programme for Research and Innovation, under Grant Agreement no. 640171.
            </div>
        </div>
    </section>
</body>
