---
layout: base_eustace
---

<head>
    <link rel="stylesheet" href="{{ '/assets/css/bio.css' | relative_url }}">
    {% if page.use_math %}
    {% include _mathjax_support.html %}
    {% endif %}
</head>

<body>

    <section id="blog" class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="blog">
                    <div class="blog-item">
                        <div class="blog-content">
                            
                            <div class="entry-meta">
                                <span><i class="icon-user"></i><a href="/blog/author/janette/"> {{ page.author }}</a></span>
                                <span><i class="icon-folder-close"></i></span>
                                <span><i class="icon-calendar"></i> {{ page.date | date: '%Y-%m-%d' }}</span>
                                <span><i class="icon-comment"></i> 	
                                    <a href="/blog/the-numbers-tell-the-tale/#comments">
                                        0 comments
                                    </a>                      
                                </span>
                            </div>
                            
                            {{ content }}
                            <div id="comments">
                                <h3>Comments</h3>
                                <div class="comments-list">
                                    <p>There are currently no comments</p>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

